# Database
DATABASE_URL="postgresql://nexus:CHANGE_ME_PASSWORD@localhost:5432/nexus_db?schema=public"

# JWT
JWT_SECRET="CHANGE_ME_GENERATE_WITH_openssl_rand_base64_48"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="CHANGE_ME_ANOTHER_SECRET"
JWT_REFRESH_EXPIRES_IN="7d"

# MinIO
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ACCESS_KEY="CHANGE_ME"
MINIO_SECRET_KEY="CHANGE_ME"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# Server
PORT=3000
CORS_ORIGIN="http://localhost:5173"
NODE_ENV="development"